@import '../colors.scss';

div.Account {
    padding: 0px 25px;
    box-sizing: border-box;

    #error,
    #success {
        background-color: $red;
        padding: 5px 15px;
        color: $white;
        display: block;
        margin-top: 15px;
    }

    #success {
        background-color: $green;
    }

    >form {
        >span {
            font-size: 0.75em;
        }
        >label {
            font-weight: bold;
        }
        >label:not(:first-child),
        >input[type=submit] {
            margin-top: 25px;
        }
    }
}