@import '../colors.scss';

div.Create {
    padding: 0px 25px;
    box-sizing: border-box;
    span#error {
        background-color: $red;
        display: block;
        padding: 10px 15px;
        box-sizing: border-box;
        margin-top: 40px;
        margin-bottom: 0px;
        width: 100%;
        color: #FFF;
        font-size: 0.85em;
        margin-bottom: -20px;
    }
    >form >label:not(:first-child) {
        margin-top: 15px;
    }
}