@import '../../colors.scss';

.BrowseComponent {
    margin-bottom: 35px;
    >div.banner {
        background-image: url('../../assets/banner.jpg');
        background-size: cover;
        padding: 50px 15px;
        font-size: 2em;
        color: $white;
        >h1,
        >p {
            margin: 0px;
        }
        >p {
            font-size: .5em;
            margin-left: 4px;
        }
        >h1 {
            line-height: .75em;
            margin-bottom: 10px;
        }
    }
}