@import '../../colors.scss';
@import '../../config.scss';

.NavbarComponent {
  box-sizing: border-box;
  padding: 10px 25px;
  border-bottom: solid thin $light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  > div {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    max-width: $maxwidth;
    margin: 0px auto;
  }
  img {
    width: 35px;
    border-radius: 25px;
  }
  input {
    width: 100%;
    background-color: $light;
    font-weight: 100;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: $radius;
  }
  > div div:last-child {
    text-align: right;
  }
}
