@import '../global.style.scss';

div.Navbar {
    nav {
        a.navbar-brand {
            font-family: $sheppards;
            font-size: 2em;
            line-height: 0em;
            color: $burgundy;
        }
    }
}