div.search-component {
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 25px 0px 5px 0px;
    align-items: center;

    >div {
        text-align: center;
        >input {
            border: solid thin #9b9b9b;
            border-radius: 3px;
            width: 85%;
            padding: 7px 10px;
        }

        >img {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            display: block;
            margin: 0px auto;
        }
    }
}