/* GLOBAL STYLESHEET */

@import "./colors.scss";

body {
  background-color: $white;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

.container {
  box-sizing: border-box;
  max-width: 500px;
  padding: 0px 15px;
  margin: 0px auto;
}

.primary-bg,
.secondary-bg {
  color: $white;
}

.primary-bg {
  background-color: $primary;
}

.secondary-bg {
  background-color: $secondary;
}
