@import './global.style.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $arimo;
  color: $white;
  background-color: $burgundy;
}

h1,
h2,
h3 {
  font-family: $sheppards;
  font-weight: 100;
}